<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta charset="UTF-8">
	<title>新闻中心</title>
	<link rel="stylesheet" href="css/index3.css">
</head>
<body>
	<div class="box">
		<!-- 导航 -->
		<div class="nav">
			<div class="logo">
				<img src="img/index-logo.png" alt="">
			</div>
			<ul class="item">
				<li><a href="index.html">首页</a></li>
				<li><a href="index2.html">产品中心</a></li>
				<li><a href="">新闻中心</a></li>
				<li><a href="index5.html">公司介绍</a></li>
				<li><a href="index6.html">联系我们</a></li>
			</ul>
			<div class="lianxi">
				<a href=""><p>登陆 注册  购物车</p></a>
				<a href=""><p>我的订单|帮助中心</p></a>
			</div>
		</div>
		<!-- 导航 end -->
		<!-- banner -->
		<div class="banner">
			<a href="">
				<img src="img/bannerBar01.png" alt="">
			</a>
		</div>
		<!-- banner end -->
		<!-- 内容 -->
		<div class="concent">
			<div class="m-box">
				<ul class="news">
					<li class="new">
						<div class="new-pic"></div>
						<div>
							HEKKA自行车最新产品新闻发布会详细内容 <span>>></span>
						</div>
						<div>2015-10-3</div>
					</li>					
					<li class="new">
						<div class="new-pic"></div>
						<div>
							【赛事预告】2015“建大&桂盟杯”山地车越野计时赛 HEKKA股份有限公司、浩盟车料（上海）
	 						<span>>></span>
 						</div>
						<div>2015-9-25</div>
					</li>					
					<li class="new">
						<div class="new-pic"></div>
						<div>百名车友“骑向未来” 爱心接力做慈善  <span>>></span></div>
						<div>2015-10-3</div>
					</li>					
					<li class="new">
						<div class="new-pic"></div>
						<div>
							英国倡导HEKKA多骑自行车 称可以节省保健支出 <span>>></span>
						</div>
						<div>2015-10-3</div>
					</li>					
					<li class="new">
						<div class="new-pic"></div>
						<div>
							美利达自行车最新新闻 - 职友集（发现中国好公司） <span>>></span>
						</div>
						<div>2015-10-3</div>
					</li>					
					<li class="new">
						<div class="new-pic"></div>
						<div>
							..适当延长|自行车公司|善待-西安新闻_华商网新闻 <span>>></span>
						</div>
						<div>2015-10-3</div>
					</li>
					<li class="new">
						<div class="new-pic"></div>
						<div>
							要不买辆薄荷绿的永久自行车试试_公司新闻_股票频道_全景网 <span>>></span>
						</div>
						<div>2015-10-3</div>
					</li>
					<li class="new">
						<div class="new-pic"></div>
						<div>
							乐视网又要做超级自行车_公司新闻_股票频道_全景网 <span>>></span>
						</div>
						<div>2015-10-3</div>
					</li>
				</ul>
				<!-- 页数 -->
				<div class="tiao">
					<div class="yema-up">
						下一页
					</div>
					<ul class="yema">
						<li>1</li>
						<li>2</li>
						<li>3</li>
						<li>4</li>
						<li>5</li>
						<li>···</li>
					</ul>
					<div class="yema-up">
						上一页
					</div>
					<input type="text">
					<span>跳转页</span>
				</div>
			</div>
		</div>
		<!-- 内容  end-->

		<!-- 页脚 -->
		<div class="foot">
			<p>首页  |  产品中心  |  新闻中心  |  公司介绍 |  联系我们</p>
			<p>HAKKA 相关站点连接：LIV | 黑客自行车|单车运动 | 基金会| 全国加盟</p>
			<p>版权：xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxx公司</p>
		</div>
	</div>
</body>
</html>