<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta charset="UTF-8">
	<title>公司介绍</title>
	<link rel="stylesheet" href="css/index5.css">
</head>
<body>
	<div class="box">
		<!-- 导航 -->
		<div class="nav">
			<div class="logo">
				<img src="img/index-logo.png" alt="">
			</div>
			<ul class="item">
				<li><a href="index.html">首页</a></li>
				<li><a href="index2.html">产品中心</a></li>
				<li><a href="index3.html">新闻中心</a></li>
				<li><a href="">公司介绍</a></li>
				<li><a href="index6.html">联系我们</a></li>
			</ul>
			<div class="lianxi">
				<a href=""><p>登陆 注册  购物车</p></a>
				<a href=""><p>我的订单|帮助中心</p></a>
			</div>
		</div>
		<!-- 导航 end -->
		<!-- 内容 -->
		<div class="concent">
			<div class="pict">
				<img src="img/company.png" alt="">
				<p>公司介绍：</p>
				<p>HAKKE自行车有限公司是一家以销售自行车中高端轮组及自行车零配件为主，集开发、销售于一体的综合性企业，同时公司还是多个国际知名品牌自行车企业在中国区域的销售代理。作为一家快速发展并不断壮大的新兴企业，多特公司不断致力于生产及经营各方面管理的加强与完善，现已拥有一批高素质的专业从事研发、生产的工程技术人员及售后服务人员，公司经营管理规范、技术革新力量雄厚，同时不断追求科技进步，注重新产品开发。公司发展前景广阔，预计将在全国主要城市设立分部。</p>
			</div>
		</div>

		<!-- 内容 end -->
		<!-- 页脚 -->
		<div class="foot">
			<p>首页  |  产品中心  |  新闻中心  |  公司介绍 |  联系我们</p>
			<p>HAKKA 相关站点连接：LIV | 黑客自行车|单车运动 | 基金会| 全国加盟</p>
			<p>版权：xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxx公司</p>
		</div>
	</div>
</body>
</html>