<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta charset="UTF-8">
	<title>产品详情</title>
	<link rel="stylesheet" href="css/index4.css">
</head>
<body>
	<div class="box">
		<!-- 导航 -->
		<div class="nav">
			<div class="logo">
				<img src="img/index-logo.png" alt="">
			</div>
			<ul class="item">
				<li><a href="index.html">首页</a></li>
				<li><a href="index2.html">产品中心</a></li>
				<li><a href="index3.html">新闻中心</a></li>
				<li><a href="index5.html">公司介绍</a></li>
				<li><a href="index6.html">联系我们</a></li>
			</ul>
			<div class="lianxi">
				<a href=""><p>登陆 注册  购物车</p></a>
				<a href=""><p>我的订单|帮助中心</p></a>
			</div>
		</div>
		<!-- 导航 end -->
		<!-- 内容 -->
		<div class="concent">
			<div class="pict">
				<img src="img/show_big01.png" alt="">
				<img src="img/show_smallimg01.jpg" alt="">
				<img src="img/show_smallimg02.jpg" alt="">
				<img src="img/show_smallimg03.jpg" alt="">
			</div>
			<div class="text">
				<p>
					轻型设计和缩短轴距旨在让Bicymple灵敏轻快。伯切特尔说:“可选性后轮转向模式不免让人联想到定制的平蹬摆式自行车,这种设计允许骑行者进行急转弯和像螃蟹一样行进。”与当前的自行车相比,Bicymple存放时所占的空间更小,也更适于在城市骑行。
				</p>
				<p>
					<span>商品名称：</span>
					凤凰自行车 26寸24速禧玛诺油碟减震铝合金山地车 M6.5 黑色红标
				</p>				
				<p>
					<span>商品编号：</span>
					1055651214
				</p>				
				<p>
					<span>店铺：</span>
					凤凰旗舰店
				</p>				
				<p>
					<span>上架时间：</span>
					2013-11-13 12:39:01
				</p>				
				<p>
					<span>商品毛重：</span>
					18.0kg
				</p>				
				<p>
					<span>货号：</span>
					YE2244N
				</p>				
				<p>
					<span>价位：</span>
					2000-2499
				</p>				
				<p>
					<span>速别：</span>
					24速
				</p>				
				<p>
					<span>车架材质：</span>
					铝合金
				</p>				
				<p>
					<span>轮组尺寸：</span>
					26寸
				</p>				
				<p>
					<span>制动系统：</span>
					双油碟刹
				</p>				
				<p>
					<span>净重：</span>
					15-20KG
				</p>
				<div class="button-buy">
					加入收藏
				</div>
				<div class="button-sale">
					立即购买
				</div>
				<div class="return">
					返回
				</div>
			</div>
		</div>

		<!-- 内容 end -->
		<!-- 页脚 -->
		<div class="foot">
			<p>首页  |  产品中心  |  新闻中心  |  公司介绍 |  联系我们</p>
			<p>HAKKA 相关站点连接：LIV | 黑客自行车|单车运动 | 基金会| 全国加盟</p>
			<p>版权：xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxx公司</p>
		</div>
	</div>
</body>
</html>