<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta charset="UTF-8">
	<title>联系我们</title>
	<link rel="stylesheet" href="css/index6.css">
</head>
<body>
	<div class="box">
		<!-- 导航 -->
		<div class="nav">
			<div class="logo">
				<img src="img/index-logo.png" alt="">
			</div>
			<ul class="item">
				<li><a href="index.html">首页</a></li>
				<li><a href="index2.html">产品中心</a></li>
				<li><a href="index3.html">新闻中心</a></li>
				<li><a href="index5.html">公司介绍</a></li>
				<li><a href="">联系我们</a></li>
			</ul>
			<div class="lianxi">
				<a href=""><p>登陆 注册  购物车</p></a>
				<a href=""><p>我的订单|帮助中心</p></a>
			</div>
		</div>
		<!-- 导航 end -->
		<!-- 内容 -->
		<div class="concent">
			<div class="pict">
				<img src="img/linxi.png" alt="">
				<div class="fr">
					<p>tel: 800-8888999</p>
					<p>地址：太原市小店区平阳路库克公司</p>
					<p>e-mail：1112226@123.com</p>
					<p>传真：1188222</p>
					<p>客服在线  ： 11585223552</p>
					<p>公司官方qq：115577223</p>
					<p>公司官方微博：1122354.wb.</p>
				</div>
			</div>
		</div>

		<!-- 内容 end -->
		<!-- 页脚 -->
		<div class="foot">
			<p>首页  |  产品中心  |  新闻中心  |  公司介绍 |  联系我们</p>
			<p>HAKKA 相关站点连接：LIV | 黑客自行车|单车运动 | 基金会| 全国加盟</p>
			<p>版权：xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxx公司</p>
		</div>
	</div>
</body>
</html>