<!DOCTYPE html>
<html lang="zh_CN">
<head>
	<meta charset="UTF-8">
	<title>新闻详情</title>
	<link rel="stylesheet" href="css/index7.css">
</head>
<body>
	<div class="box">
		<!-- 导航 -->
		<div class="nav">
			<div class="logo">
				<img src="img/index-logo.png" alt="">
			</div>
			<ul class="item">
				<li><a href="index.html">首页</a></li>
				<li><a href="index2.html">产品中心</a></li>
				<li><a href="index3.html">新闻中心</a></li>
				<li><a href="index5.html">公司介绍</a></li>
				<li><a href="index6.html">联系我们</a></li>
			</ul>
			<div class="lianxi">
				<a href=""><p>登陆 注册  购物车</p></a>
				<a href=""><p>我的订单|帮助中心</p></a>
			</div>
		</div>
		<!-- 导航 end -->
		<!-- 内容 -->
		<div class="concent">
			<div class="pict">
				<p class="title">狮山粤港澳自行车赛新闻发布会今日召开</p>
				<p class="time">2015-08-26 17:29:38 阅读(0) 评论()</p>
				<div class="fr">
					<img src="img/ple.png" alt="">
					<img src="img/peo.png" alt="">
				</div>
				<p>
					2015佛山高新区粤港澳自行车邀请赛暨广佛新世界自行车慈善巡游新闻发布会
					于今天在广粤国际交流中心C4昇平礼堂隆重举行，会上正式宣布2015粤港澳自行
					车邀请赛将于9月26盛大揭幕以自行车竞赛题材的电影《破风》创下体育电影的不
					菲战绩。而在下月26日举行的2015 佛山高新区（狮山镇）粤港澳自行车邀请赛暨新
					世界自行车慈善巡游则预计将汇聚全国800多位自行车选手、上演自行车比赛“破
					风”的好戏。同时，大赛设置企业、村居组自行车比赛，将自行车的趣味带给本地更多
					的普通群众。
				</p>
				<p>
					8而本次大赛专门设置的自行车慈善巡游，参赛者骑行一圈、广佛新世界捐赠
					100元给当地慈善基金，则带动当地众多企业、群众一起参与，也是本次活动新的创
					意亮点。
				</p>
				<p>
					2015狮山粤港澳自行车赛赛事简介
				</p>
				<p>  
					亮点一： 800多名专业选手总奖金18万
				</p>
				<p>
					据了解，粤港澳自行车邀请赛在狮山镇人民政府的大力支持下，已经在狮山大学
					城连续成功举办两届。本次赛事则移师广佛新世界，由佛山市体育局、佛山国家高新技
					术产业开发区、南海区狮山镇人民政府、广东省自行车运动协会主办狮山镇宣传文体
					办公室承办 .
				</p>
				<div>
					亮点二：慈善巡游将吸引当地众多知名企业参与在专业自行车手们激烈角逐冠军的时候，本次大赛设置的广佛新世界自行车慈善巡游也将同一天上演。据大赛组
					委会介绍，比赛当天群众只要愿意参与广佛新世界组织的慈善巡游，广佛新世界将捐出总金额高达人民币20万元的慈善款项到南海慈善会，这笔善款将作为狮山镇大
					圃社会管理处辖区内贫困学生助学金。这种“你骑一圈，我帮你做慈善”的创意活动，将吸引南海狮山不少企业和群众参与其中  
				</div>
				<div class="anliu">
					<div class="fl">上一篇</div>
					<div class="fr">下一篇</div>
				</div>
			</div>
		</div>

		<!-- 内容 end -->
		<!-- 页脚 -->
		<div class="foot">
			<p>首页  |  产品中心  |  新闻中心  |  公司介绍 |  联系我们</p>
			<p>HAKKA 相关站点连接：LIV | 黑客自行车|单车运动 | 基金会| 全国加盟</p>
			<p>版权：xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxx公司</p>
		</div>
	</div>
</body>
</html>